.header {
  width: 100vw;
  height: 15vh;
  background-color: black;
  display: flex;
  border-bottom: solid 1px #979797;
}
.logo-placeholder {
  width: 11%;
  height: 70%;
  align-self: center;
  margin-left: 2.5vw;;
} 
