.profile {
  display: flex;
  flex-flow: column;
  border-radius: 6px;
  box-shadow: 0 24px 30px 0 rgba(0, 0, 0, 0.13);
  background-color: #2b2b2b;
  width: 14.82vw;
  height: 40.59 minvh;
  margin-left: 2vw;

  &__img {
    display: flex;
    justify-content: space-around;
   &--img {
    width: 90px;
    height: 90px;
    margin-top: 30px;
    padding-left: 40px;
   }

   &--edit {
    color: #f04e31;
    text-decoration: underline;

    font-size: 10.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
   }
  }

  &__data{

    &--title {
      font-size: 24px;
      text-align: center;
    }

    &--text {
      text-align: center;
      font-size: 0.75rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      margin: 8px 0 8px 0;
    }
  }

}
.add {
 margin: 0 12px 0 12px;
}
