.summary {
display: flex;
flex-flow: row wrap;
justify-content: space-between;
width: 24vw;
margin-left: 2vw;
height: 372px;

  &__card {
    width: 150.5px;
    height: 180px;
    border-radius: 6px;
    background-color: #2b2b2b;
    box-shadow: 0 24px 30px 0 rgba(0, 0, 0, 0.13);
  

    &:nth-child(1){
      margin-bottom: 0.9vw;
    }

    &:nth-child(2){
      margin-bottom: 0.9vw;
    }

    &--main {
      font-size: 1.125rem;
      padding-left: .75rem;
      margin: 15px 0 15px 0;
    }

    &--head{
      font-size: 1.875rem;
      padding-left: .75rem;
      margin: 20px 0 0 0;
    }

    &--num {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      font-size: .75rem;
      padding-left: 1rem;
      padding-right: 2rem;
      
    }

    &--text {
      font-size: .75rem;
      padding-left: .75rem;
      margin: 0;
    }
  }

}

.fa-arrow-up {
  color: #83ff00;

}

.fa-arrow-down {
  color:#ff0000;
}

.green {
  color: #83ff00;
 
}

.red {
  color:#ff0000;

}
